.box {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    div {
        width: 100px;
        height: 100px;
        background: blue;
        margin: 15px;
    }
}

@media (max-width: 768px) {
    .box {
        flex-wrap: wrap;
        justify-content: center;
        div {
            width: 30%;
        }
    }
}
@media (max-width: 480px) {
    .box {
        flex-wrap: wrap;
        justify-content: center;
        div {
            width: 80%;
        }
    }
}